<%- include('../partials/header') %>

<div id="foodContainer">
  <% foods.forEach (function(food) { %>
  <div>
    <div>
      <a href="/orders/<%=food._id%>">
        <img src="/images/<%=food.imageSmall%>"
      /></a>
    </div>
    <div><label for="name" class="title"><%=food.name%>"</label></div>
    <div><label for="price"><%=food.price%>&nbsp; $</label></div>
  </div>
  <%})%>
</div>

<%- include('../partials/footer') %>
