<%- include('../partials/header') %>
<h3>Our Menu</h3>
<div id="foodContainer">
  <% foods.forEach (function(food) { %>
  <div>
    <div>
      <a href="/foods/<%=food._id%>">
        <img src="/images/<%=food.imageSmall%>"
      /></a>
    </div>
    <div>
      <h2><%=food.name%></h2>
    </div>
    <div><label for="price"><%=food.price%>&nbsp; $</label></div>
  </div>
  <%})%>
</div>
