<%- include('../partials/header') %>

<div id="foodShowContainer">
  <div>
    <img src="/images/<%=food.imageBig%>" />
  </div>
  <div>
    <form action="/orders/Add/<%=food._id%>" method="post">
      <div id="foodShow2">
        <h1><%=food.name%></h1>
        <br />
        Calories: &nbsp;<%=food.cals%><br />
        Price: &nbsp;<%=food.price%>$ <br />
        Number:
        <input
          type="Number"
          value="1"
          name="Quantity"
          class="inpNumber"
          size="5"
        /><br /><br />
        <div style="text-align: left">
          <button type="submit" class="addToBag">Add to bag</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
