<%- include('../partials/header') %>

<div id="foodShowContainer">
  <form action="/orders/Add/<%=food._id%>" method="post">
    <div id="foodShowImage">
      <img src="/images/<%=food.imageBig%>" alt="" />
    </div>
    <div id="foodShowDesc">
      <div>
        <label for="name" class="foodShowtitle"><%=food.name%>"</label><br><br><br>
      </div>
      <div class="font20">
        Calories&nbsp;<%=food.cals%>
      </div>
      <div>Price: &nbsp;<%=food.price%> $</div>    
      <div>
        <label for="Quantity">Number&nbsp;</label>
        <input type="Number" value="1" name="Quantity" class="inpNumber" />
      </div>
      <div>
        <button type="submit" class="addToBag">Add to bag</button>
      </div>
    </div>
    
  </form>
</div>
<%- include('../partials/footer') %>
