<%- include('../partials/header') %>
<h2>Checkout</h2>

<%if (orders.length > 0) {%>
<table>
  <%orders.forEach (function(order) {%>
  <form action="/orders/updateOrder/<%=order.foods[0].id%>" method="post">
    <tr>
      <td>
        <img src="/images/<%=order.foods[0].food.imageSmall%>" width="70%" />
      </td>
      <td><%=order.foods[0].food.name%></td>
      <td>
        <input
          type="number"
          name="Quantity"
          step="1"
          value="<%=order.foods[0].Quantity%>"
        />
      </td>
      <td>
        <button type="submit">Update Order</button>
      </td>
    </tr>
  </form>

  <%})%> <%} else {%>
</table>
<div>No orders yet</div>

<% } %>
