<%- include('../partials/header') %>
<h1>Checkout</h1>

<%if (orders.length > 0) {%>
<table>
  <%orders.forEach (function(order) {%>

  <tr>
    <td>
      <img src="/images/<%=order.foods[0].food.imageSmall%>" width="70%" />
    </td>
    <td><%=order.foods[0].food.name%></td>
    <form action="/orders/updateOrder/<%=order.foods[0].id%>" method="post">
      <td>
        <input
          type="number"
          name="Quantity"
          step="1"
          value="<%=order.foods[0].Quantity%>"
        />
      </td>
      <td>
        <button type="submit">Update Order</button>
      </td>
    </form>
    <form action="/orders/deleteOrder/<%=order.foods[0].id%>" method="post">
      <td>
        <button type="submit">Delete Order</button>
      </td>
    </form>
  </tr>

  <%})%> <%} else {%>
</table>
<div>No orders yet</div>

<% } %>
