<%- include('../partials/header') %>
<h1>Checkout</h1>

<%if (orders.length > 0) {%> <%orders.forEach (function(order) {%>

  <div>
    <div>
      <img src="/images/<%=order.foods[0].food.imageSmall%>" />
    </div>
    <div><%=order.foods[0].food.name%></div>
    <form action="/orders/updateOrder/<%=order.foods[0].id%>" method="post">
    <div>
      <input
        type="number"
        name="Quantity"
        step="1"
        value="<%=order.foods[0].Quantity%>"
      />
      <div><button type="submit">Update Order</button></div>
    </div>
    </div>
  </form>
  <div>
    <form action="/orders/deleteOrder/<%=order.foods[0].id%>" method="post">
      <button type="submit">Delete Order</button>
    </form>
  </div>
  </div>

<%})%> <%} else {%>
<div>No orders yet</div>
<% } %>
