<%- include('../partials/header') %>
<h3>Your Order</h3>

<%if (orders.length > 0) {%> <%orders.forEach (function(order) {%>

<div id="checkoutContainer">
  <div>
    <img src="/images/<%=order.foods[0].food.imageSmall%>" width="50%" />
  </div>
  <div style="width: 100px"><%=order.foods[0].food.name%>&nbsp;</div>
  <div>
    <form action="/orders/updateOrder/<%=order.id%>" method="post">
      <div>
        <input
          type="number"
          name="Quantity"
          step="1"
          value="<%=order.foods[0].Quantity%>"
        />
        <button class="btnCheckout" type="submit">Update Order</button>&nbsp;
      </div>
      <div></div>
    </form>
  </div>
  <div>
    <form
      action="/orders/deleteOrder/<%=order.id%>?_method=DELETE"
      method="POST"
    >
      <button class="btnCheckout" type="submit">Delete Order</button>
    </form>
  </div>
</div>

<div>
  <%})%> <%} else {%>
  <div>No orders yet</div>
  <% } %>
</div>
