<%- include('../partials/header') %>

<h1>Order summary</h1>

<%order.foods.forEach (function(food) {%>
    user:<%=order.userId%><br>  
    <div>name:<%=food.food.name%></div>
    <div><input type="text" value=<%=food.Quantity%> name="Quantity"></div>
<%})%>

<%- include('../partials/footer') %>
