<%- include('../partials/header') %>

<h1>Order summary</h1>

<%order.foods.forEach (function(food) {%>
<div><img src="/images/<%=order.foods[0].food.imageBig%>" /></div>
<div><%=food.Quantity%>&nbsp;<%=food.food.name%> ordered</div>
<div></div>
<%})%> <%- include('../partials/footer') %>
